* {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 201, 228);
}
h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Bungee', cursive;
    font-size: 16px;
    font-weight: normal;
    color: black;
}
/* end of reset*/
body {
    width: 900px;
    margin: 0px auto;
}
img {
    width: 100%;
    display: block;
}
header, footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
header {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
footer {
    margin-top: 20px;
    border-top: 1px solid black;
}
h1 {
    font-family: 'Bungee', cursive;
    font-size: 32px;
}
.social-icon {
    width: 30px;
    display: inline;
    margin-left: 8px;
}
.citation, .citation a {
    color: #f6b2d9;
    text-align: center;
    font-size: 12px;
}
.card{
    display: inline-block;
    position:relative;
    /* border: 1px solid red; */
    width: 300px;
    padding:8px 8px 8px 8px;
    margin: 10px 10px 10px 10px;
    /* background-color: rgb(98, 95, 109); */
    /* background-color: rgb(204, 51, 51); */
    background-color:#f6b2d9;
    align-items: center;
   justify-content: center;
   left: 15%;

}
.container{
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 0px;
    text-align: center;
    /* border: 1px solid green; */
}
.albumcontent {
    margin-left: 400px;
    align-content: center;
    

}
.fortherecord {
    text-align: center;
}
.centertext {
    text-align: center;
    font-size: 12px;
}
.buypage {
    display: inline-block;
    padding:8px 8px 8px 8px;
    margin: 10px 10px 10px 10px;
    width: 600px;
    align-items: center;
    flex-wrap: wrap;
    background-color:#000000;
}
.tracklist {
    text-align: left;
}
form {
    width: 400px;
    margin: 20px auto;
}
input, textarea {
    font-size: 1.25em;
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 6px;
}
.form-button {
    text-align: center;
    background-color: #222;
    width: 300px;
    margin: 0px auto;
    padding: 6px;
}
.form-button a {
    color: #fff;
    font-size:1.25em;
    background-color: black;
}
.newsletter {
    font-size: 3em;
    font-style: italic;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.image {
    align-content: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee', cursive;
  background: none;
  color:#f9f0f5;
  font-size: 80px;
 bottom: 10%;
 text-align: center;
}
.homepagelink {
  text-align: center;
  font-size: 30px;
  color:#b15489;
  margin-top: 20px;
}